* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body, #root, .App {
  width: 100%;
  height: 100%;
  display: block;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  border-radius: 5px;
  border: 2px solid skyblue;
  height: 40px;
  width: 400px;
  padding: 10px;
}
.download {
  border-radius: 5px;
  border: 2px solid steelblue;
  height: 40px;
  padding: 0 10px;
  background-color: skyblue;
  margin-left: 10px;
}
.report {
  margin-top: 10px;
  width: 500px;
  border: 2px solid skyblue;
  border-radius: 5px;
  overflow: hidden;
}
table {
  width: 100%;
}

td {
  text-align: center;
  border: 1px solid skyblue;
  height: 40px;
}
tr:first-child td {
  border-top: none;
  font-weight: bold;
}
tr:last-child td {
  border-bottom: none;
}
tr td:first-child {
  border-left: none;
}
tr td:last-child {
  border-right: none;
}
